
<div class="testbox">
    <h1>Login</h1>
  
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
        <hr>
   
      <label id="icon" for="userName"><i class="icon-pencil"></i></label>
      <input type="text" name="userName"  placeholder="userName" required minlength="3" maxlength="15" pattern="[A-Za-z]*" formControlName="userName"/>
      <div *ngIf="userName.invalid&&(userName.dirty || userName.touched || submitted)" class="alert alert-danger">
          <div *ngIf="userName.errors.required">userName is required.</div>
          <div *ngIf="userName.errors.minlength">lastName must be at least 3 characters long.</div>
          <div *ngIf="userName.errors.maxlength">lastName must be maximum 15 characters long.</div>
          <div *ngIf="userName.errors.pattern">userName must contain only letters in English</div>
        </div>
        <label id="icon" for="name"><i class="icon-pencil"></i></label>
        <input type="password" name="password"  placeholder="password" required minlength="5" maxlength="10"  formControlName="password"/>
        <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="alert alert-danger">
            <div *ngIf="password.errors.required">password is required.</div>
            <div *ngIf="password.errors.min">password must be greater or equals to 0</div>
            <div *ngIf="password.errors.max">password must be less than or equals to 120</div>
          </div>
     <input type="submit" class="button" value="Login" [disabled]=profileForm.invalid>
    </form>
  </div>